@charset "UTF-8";

/* //Подключение шрифтов============================================================================== */

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("../fonts/Proxima Nova-Bold.woff") format("woff"), url("../fonts/Proxima Nova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* //================================================================================================== */

/* //Обнулений стилей браузера========================================================================= */

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

/* //================================================================================================== */

/* //Подключение CSS для Slick слайдера================================================================ */

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* //================================================================================================== */

* {
  font-family: "Montserrat";
  color: black;
}

.main {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(255, 255, 255, 0))), #ffffff;
  background: -o-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
}

.container {
  max-width: 1540px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.wraper {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  background: url(/img/banner/bannerBG.png) 101% 360% no-repeat;
}

.description {
  font-size: 26px;
  font-weight: 500;
  line-height: 31px;
}

/* //Header========================================================================================= */

.header {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.329);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.329);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.header__bottom {
  padding-bottom: 10px;
}

.header__line {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  background-color: #d1d1d1;
}

.header__btn-375 {
  display: none;
  position: absolute;
  top: 38px;
  right: 28px;
  padding: 7px 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: -webkit-gradient(linear, right top, left top, from(#ffcc00), to(#ffa300));
  background: -o-linear-gradient(right, #ffcc00 0%, #ffa300 100%);
  background: linear-gradient(270deg, #ffcc00 0%, #ffa300 100%);
  border-radius: 70px;
}

.top--header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top--header__logo img {
  max-width: 315px;
  margin-right: 40px;
}

.top--header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top--header__item {
  margin: 0 11px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.top--header__item:first-child {
  margin-left: 0;
}

.top--header__item:last-child {
  margin-right: 0;
}

.top--header__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top--header__link:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: #d1d1d1;
}

.top--header__star {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background: url(/img/header/header_svg/Star.svg) center center no-repeat;
}

.top--header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.top--header__graphic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top--header__graphic::before {
  content: "";
  width: 6px;
  height: 6px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #56cb64;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(86, 203, 100, 0.4);
            box-shadow: 0 0 0 0 rgba(86, 203, 100, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 3px rgba(86, 203, 100, 0.4);
            box-shadow: 0 0 0 3px rgba(86, 203, 100, 0.4);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(86, 203, 100, 0.4);
            box-shadow: 0 0 0 0 rgba(86, 203, 100, 0.4);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(86, 203, 100, 0.4);
            box-shadow: 0 0 0 0 rgba(86, 203, 100, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 3px rgba(86, 203, 100, 0.4);
            box-shadow: 0 0 0 3px rgba(86, 203, 100, 0.4);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(86, 203, 100, 0.4);
            box-shadow: 0 0 0 0 rgba(86, 203, 100, 0.4);
  }
}

.top--header__phone {
  margin-top: 5px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}

.top--header__icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: -3px;
  background: url(/img/header/call.png) center center no-repeat;
}

.bottom--header {
  padding-top: 10px;
}

.bottom--header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

.bottom--header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 67px;
  border-right: 1px solid #d1d1d1;
}

.bottom--header__item:first-child {
  margin-left: 0;
  padding-left: 0;
}

.bottom--header__item:not(:first-child)::after {
  content: "";
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background: url(/img/header/header_svg/arrow.svg) center center no-repeat;
  background-size: contain;
}

.bottom--header__item:last-child {
  border-right: none;
  padding-right: 0;
}

.bottom--header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom--header__img {
  margin-right: 4px;
}

.bottom--header__game {
  display: none;
}

/* //Меню бургер================================================================================ */

.nav-toggle {
  display: none;
  width: 30px;
  padding: 15px 0;
  position: absolute;
  top: 37px;
  left: 19px;
  cursor: pointer;
}

.nav-toggle:focus {
  outline: 0;
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333333;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.nav-toggle__item::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #333333;
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.nav-toggle__item::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #333333;
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.nav-toggle__item::before {
  top: -8px;
}

.nav-toggle__item::after {
  bottom: -8px;
}

.nav-toggle.active {
  background-color: none;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle.active .nav-toggle__item::before {
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) translateX(-2px);
      -ms-transform: rotate(45deg) translateX(-2px);
          transform: rotate(45deg) translateX(-2px);
}

.nav-toggle.active .nav-toggle__item::after {
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translateX(-3px);
      -ms-transform: rotate(-45deg) translateX(-3px);
          transform: rotate(-45deg) translateX(-3px);
}

/* //конец Меню бургер==================================================================================== */

/* //конец Header========================================================================================= */

/* //section-banner======================================================================================= */

.section-banner {
  margin-top: 141px;
}

.section-banner__wraper {
  position: relative;
}

.section-banner__content {
  padding: 133px 0;
  max-width: 830px;
}

.section-banner__title {
  font-size: 80px;
  font-weight: 800;
  line-height: 80px;
}

.section-banner__description {
  max-width: 673px;
  margin-top: 60px;
}

.section-banner__btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  padding: 23px 54px;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  background: -webkit-gradient(linear, right top, left top, from(#ffcc00), to(#ffa300));
  background: -o-linear-gradient(right, #ffcc00 0%, #ffa300 100%);
  background: linear-gradient(270deg, #ffcc00 0%, #ffa300 100%);
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  z-index: 5;
}

.section-banner__btn::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffad00;
  top: -8px;
  left: 90px;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section-banner__arrow {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  background: url(/img/banner/banner_svg/arrow.svg) center center no-repeat;
  background-size: contain;
}

.section-banner__list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 41px;
}

.section-banner__list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.section-banner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 395px;
  width: 100%;
  margin: 0 15px;
}

.section-banner__item:nth-child(odd) {
  margin-left: 0;
}

.section-banner__item:nth-child(even) {
  margin-right: 0;
}

.section-banner__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  margin-right: 14px;
  -webkit-box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
          box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
  border-radius: 10px;
}

.section-banner__icon img {
  width: 70px;
}

.section-banner__img {
  padding: 10px;
}

.section-banner__text {
  font-size: 20px;
  line-height: 28px;
}

.section-banner__link {
  border-bottom: 1px solid #d1d1d1;
}

.section-banner__completed {
  position: absolute;
  right: 127px;
  bottom: 94px;
  max-width: 464px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
  background-color: #ffffff;
  border-radius: 50px;
  font-size: 20px;
}

.section-banner__work {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 50px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: -webkit-gradient(linear, right top, left top, from(#ffcc00), to(#ffa300));
  background-image: -o-linear-gradient(right, #ffcc00 0%, #ffa300 100%);
  background-image: linear-gradient(270deg, #ffcc00 0%, #ffa300 100%);
}

.section-banner__smile {
  width: 60px;
  height: 60px;
  margin: 0 9px;
}

.section-banner__textcompleted {
  max-width: 150px;
}

/* //section-banner-конец======================================================================= */

/* //section-staff============================================================================== */

.section-staff__content {
  text-align: center;
  padding: 128px 0 80px;
}

.section-staff__title {
  font-weight: 700;
  font-size: 48px;
}

.section-staff__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.section-staff__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 80px;
}

.section-staff__slid {
  margin: 0 auto;
}

.section-staff__item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 355px;
  font-size: 16px;
  line-height: 120%;
  margin: 0 15px;
}

.section-staff__item:first-child {
  margin-left: 0;
}

.section-staff__item:last-child {
  margin-right: 0;
}

.section-staff__img {
  border-radius: 50%;
}

.section-staff__username {
  margin-top: 47px;
  font-weight: 700;
  font-size: 26px;
}

.section-staff__master {
  height: 65px;
  margin-top: 25px;
  font-size: 18px;
  line-height: 120%;
}

.section-staff__works {
  margin-top: 32px;
  margin-left: -15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-staff__works::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: url(/img/staff/staff_svg/ok.svg) center center no-repeat, -webkit-gradient(linear, right top, left top, from(#ffcc00), to(#ffa300)), -webkit-gradient(linear, left bottom, left top, from(#ffa300), to(#ffa300));
  background: url(/img/staff/staff_svg/ok.svg) center center no-repeat, -o-linear-gradient(right, #ffcc00 0%, #ffa300 100%), -o-linear-gradient(bottom, #ffa300, #ffa300);
  background: url(/img/staff/staff_svg/ok.svg) center center no-repeat, linear-gradient(270deg, #ffcc00 0%, #ffa300 100%), linear-gradient(0deg, #ffa300, #ffa300);
  border-radius: 50%;
}

.section-staff__quote {
  margin-top: 40px;
  padding: 16px 48px 16px 16px;
  background: #f6f6f6;
  border-radius: 30px;
  position: relative;
}

.section-staff__quote::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #f6f6f6;
  top: -8px;
  left: 140px;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section-staff__quote-text {
  display: inline-block;
  max-width: 265px;
  text-align: left;
}

/* //section-staff-конец========================================================================= */

/* //Кнопки управления и форма Slick-слайдера==================================================== */

.slick-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -35px;
  top: 238px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.301);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.301);
  background: url(/img/staff/staff_svg/arrow-left.svg) center center no-repeat;
  font-size: 0;
  z-index: 900;
}

.slick-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -35px;
  top: 238px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.301);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.301);
  background: url(/img/staff/staff_svg/arrow-right.svg) center center no-repeat;
  font-size: 0;
  z-index: 900;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -85px;
  left: 0;
  right: 0;
}

.slick-dots li button {
  font-size: 0;
  margin: 0 10px;
}

.slick-dots li button::before {
  content: "";
  display: block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #ffffff;
}

/* //============================================================================================ */

/* //section-services============================================================================ */

.section-services {
  padding: 147px 0;
}

.section-services__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-services__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.section-services__container {
  position: relative;
}

.top--services__photo {
  margin-right: 30px;
}

.top--services__img {
  width: 745px;
  height: 478px;
}

.top--services__text {
  max-width: 745px;
}

.top--services__title {
  font-weight: 800;
  font-size: 60px;
  margin-bottom: 60px;
}

.top--services__description {
  font-size: 20px;
  line-height: 140%;
  margin-top: 32px;
}

.top--services__btn {
  margin-top: 40px;
  padding: 16px 39px;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 100px;
}

.bottom--services__photo {
  margin-right: 30px;
}

.bottom--services__img {
  width: 745px;
  height: 447px;
}

/* //section-services-конец====================================================================== */

@media (max-width: 1366px) {
  .container {
    max-width: 1097px;
  }

  .wraper {
    background: url(/img/banner/banner1366.png) top right no-repeat;
  }

  .header__line {
    top: 85px;
  }

  .top--header__list {
    display: none;
  }

  .top--header__graphic {
    margin: -3px 0;
  }

  .top--header__phone {
    line-height: 40px;
  }

  .bottom--header__item {
    padding: 1px 25px;
  }

  .bottom--header__link {
    font-size: 14px;
  }

  .section-banner__content {
    max-width: 679px;
    padding: 83px 0;
  }

  .section-banner__title {
    font-size: 70px;
    line-height: 73px;
  }

  .section-banner__description {
    font-size: 20px;
    line-height: 22px;
  }

  .section-banner__btn {
    font-size: 16px;
    padding: 23px 35px;
  }

  .section-banner__list1 {
    max-width: 679px;
  }

  .section-banner__list2 {
    max-width: 679px;
  }

  .section-banner__item {
    max-width: 317px;
  }

  .section-banner__text {
    font-size: 17px;
  }

  .section-banner__completed {
    right: 17px;
    bottom: 162px;
  }

  .section-staff__content {
    padding: 315px 0px 80px;
  }

  .section-staff__title {
    font-size: 42px;
    line-height: 45px;
  }

  .section-staff__subtitle {
    font-size: 20px;
    margin-top: 30px;
  }

  .section-staff__username {
    font-size: 22px;
    margin-top: 40px;
  }

  .section-staff__master {
    font-size: 16px;
  }

  .section-staff__works {
    margin-top: 20px;
  }

  .section-services {
    padding: 153px 0;
  }

  .top--services__img {
    width: 525px;
    height: 535px;
  }

  .top--services__text {
    max-width: 100%;
  }

  .top--services__title {
    font-size: 50px;
  }

  .top--services__description {
    font-size: 18px;
  }

  .top--services__btn {
    font-size: 15px;
    padding: 11px 39px;
  }

  .bottom--services__img {
    width: 525px;
    height: 487px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 870px;
  }

  .wraper {
    background: url(/img/banner/bannerBG1024.png) top right no-repeat;
  }

  .top--header__graphic {
    font-size: 12px;
    margin: 5px -1px;
  }

  .top--header__phone {
    font-size: 18px;
    line-height: 0;
    margin-top: 0;
  }

  .bottom--header__item {
    padding: 3px 10px 0px 57px;
  }

  .bottom--header__item:last-child {
    display: none;
  }

  .bottom--header__laptop {
    display: none;
  }

  .section-banner__title {
    font-size: 50px;
    line-height: 52px;
    max-width: 320px;
  }

  .section-banner__description {
    max-width: 475px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 35px;
  }

  .section-banner__btn {
    font-size: 14px;
    padding: 16px 21px;
    margin-top: 40px;
  }

  .section-banner__item {
    max-width: 255px;
    margin: 0 7px;
  }

  .section-banner__icon {
    width: 50px;
    height: 50px;
  }

  .section-banner__icon img {
    width: 50px;
  }

  .section-banner__text {
    font-size: 14px;
    line-height: 140%;
    margin-top: -11px;
  }

  .section-banner__completed {
    right: 50px;
    bottom: 120px;
    padding: 10px 0px;
  }

  .section-banner__work {
    font-size: 28px;
  }

  .section-banner__smile {
    width: 40px;
    height: 40px;
  }

  .section-banner__textcompleted {
    font-size: 14px;
  }

  .section-staff__content {
    padding: 202px 0px 80px;
  }

  .section-staff__title {
    font-size: 36px;
    line-height: 34px;
  }

  .section-staff__subtitle {
    font-size: 16px;
  }

  .section-staff__slider {
    margin-top: 57px;
  }

  .section-staff__username {
    font-size: 20px;
    margin-top: 40px;
  }

  .section-staff__master {
    font-size: 14px;
    max-width: 175px;
    margin-top: 20px;
  }

  .section-staff__works {
    font-size: 14px;
    max-width: 200px;
    margin-top: 43px;
    text-align: left;
  }

  .section-staff__works::before {
    content: "";
    width: 16px;
    height: 16px;
  }

  .section-staff__quote {
    margin-top: 28px;
    padding: 13px 20px;
  }

  .section-staff__quote-text {
    font-size: 14px;
    line-height: 16px;
  }

  .section-services {
    padding: 90px 0;
  }

  .top--services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .top--services__photo {
    margin-top: 40px;
  }

  .top--services__img {
    width: 265px;
    height: 191px;
  }

  .top--services__title {
    font-size: 40px;
    margin-bottom: 42px;
  }

  .top--services__description {
    font-size: 14px;
    margin-top: 25px;
  }

  .top--services__btn {
    font-size: 14px;
    margin-top: 32px;
    padding: 13px 28px;
  }

  .bottom--services {
    position: absolute;
    bottom: 0;
    left: 300px;
  }

  .bottom--services__img {
    width: 265px;
    height: 191px;
  }
}

@media (max-width: 1024px) and (max-width: 500px) {
  .bottom--header__laptop.bottom--header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 820px) {
  .menu-mobile {
    display: none;
  }
}

@media (max-width: 769px) {
  .top--services__img {
    width: 191px;
    height: 141px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 670px;
  }

  .wraper {
    background: url(/img/banner/bannerBG768.png) top right no-repeat;
  }

  .bottom--header__item {
    padding: 5px 10px 5px 30px;
  }

  .bottom--header__item:after {
    display: none;
  }

  .bottom--header__img {
    width: 20px;
    height: 20px;
  }

  .bottom--header__catalog a {
    font-size: 0;
  }

  .section-banner {
    margin-top: 140px;
  }

  .section-banner__content {
    max-width: 331px;
    padding: 86px 0;
  }

  .section-banner__btn {
    margin-top: 20px;
  }

  .section-banner__list1 {
    margin-top: 20px;
  }

  .section-banner__list2 {
    margin-top: 0;
  }

  .section-banner__item {
    margin: 15px 0;
  }

  .section-banner__completed {
    right: 75px;
    bottom: 132px;
  }

  .section-staff__content {
    padding: 100px 0px 80px;
  }

  .section-staff__img {
    width: 165px;
    height: 165px;
  }

  .section-staff__username {
    margin-top: 35px;
  }

  .slick-prev {
    left: -23px;
    top: 183px;
    width: 45px;
    height: 45px;
  }

  .slick-next {
    right: -23px;
    top: 183px;
    width: 45px;
    height: 45px;
  }

  .slick-dots {
    bottom: -55px;
  }

  .section-services {
    padding: 63px 0;
  }

  .bottom--services {
    left: 240px;
  }

  .bottom--services__img {
    width: 191px;
    height: 141px;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 357px;
  }

  .wraper {
    background: url(/img/banner/bannerBG375.png) top right no-repeat;
  }

  .header {
    height: 85px;
  }

  .header__top {
    padding: 0 0 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__line {
    display: none;
  }

  .header__btn-375 {
    display: none;
  }

  .top--header__logo img {
    max-width: 168px;
  }

  .top--header__graphic {
    display: none;
  }

  .top--header__phone {
    font-size: 15px;
    margin-top: 13px;
  }

  .top--header__icon {
    display: none;
  }

  .bottom--header__list {
    position: initial;
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #ffffff;
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    height: 100vh;
    display: none;
    -webkit-transition: display 0.3s linear;
    -o-transition: display 0.3s linear;
    transition: display 0.3s linear;
  }

  .bottom--header__item {
    padding: 20px 10px;
    width: 100%;
    border-top: 1px solid #d1d1d1;
    border-right: none;
  }

  .bottom--header__item:not(:first-child)::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }

  .bottom--header__item:first-child {
    padding-left: 10px;
  }

  .bottom--header__catalog {
    display: none;
  }

  .bottom--header__game.bottom--header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .active-mobile {
    display: block;
  }

  .nav-toggle.nav-toggle {
    display: block;
  }

  .section-banner {
    margin-top: 85px;
  }

  .section-banner__content {
    padding: 59px 0;
  }

  .section-banner__title {
    font-size: 26px;
    line-height: 26px;
    max-width: 255px;
  }

  .section-banner__description {
    max-width: 180px;
    max-height: 100px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 35px;
    overflow: hidden;
  }

  .section-banner__btn {
    font-size: 14px;
    padding: 18px 43px;
    margin-top: 17px;
  }

  .section-banner__list1 {
    margin-top: 40px;
  }

  .section-banner__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 155px;
    margin: -10px 21px 40px 0;
  }

  .section-banner__text {
    text-align: center;
    margin-top: 10px;
  }

  .section-banner__completed {
    right: 20px;
    bottom: 10px;
    padding: 10px 17px;
    -webkit-box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.33);
            box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.33);
  }

  .section-staff__content {
    padding: 50px 0px;
  }

  .section-staff__title {
    font-size: 22px;
    line-height: 22px;
  }

  .section-staff__subtitle {
    max-width: 220px;
    font-size: 14px;
    line-height: 16px;
    margin: 24px auto 0;
  }

  .section-staff__slider {
    margin-top: 35px;
  }

  .section-staff__img {
    width: 210px;
    height: 210px;
  }

  .section-staff__username {
    font-size: 20px;
    margin-top: 30px;
  }

  .section-staff__works {
    margin-top: 25px;
  }

  .section-staff__quote {
    margin-top: 28px;
    padding: 11px 0px;
  }

  .section-staff__quote-text {
    font-size: 12px;
    line-height: 16px;
  }

  .slick-prev {
    left: 0px;
    top: 170px;
    width: 45px;
    height: 45px;
  }

  .slick-next {
    right: 10px;
    top: 170px;
    width: 45px;
    height: 45px;
  }

  .slick-dots {
    bottom: -45px;
  }

  .section-services {
    padding: 60px 0;
  }

  .section-services__bottom {
    margin-top: 0;
  }

  .top--services__photo {
    margin: 33px auto 0;
  }

  .top--services__img {
    width: 327px;
    height: 234px;
  }

  .top--services__title {
    font-size: 26px;
    margin-bottom: 33px;
    text-align: center;
  }

  .top--services__description {
    max-width: 345px;
    margin: 25px auto 0;
  }

  .top--services__btn {
    font-size: 14px;
    margin-top: 26px;
    padding: 14px 97px;
  }

  .bottom--services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    left: 0;
  }

  .bottom--services__photo {
    margin: 25px auto 0;
  }

  .bottom--services__img {
    width: 327px;
    height: 234px;
  }
}